# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Directories #
/build/
/bin/

target/

# OS Files #
.DS_Store

# Java Files #
*.class

# Package Files #
*.jar

# Eclipse Files #
.project
.metadata
.settings/
.classpath
